@font-face{
  font-family: 'BoosterFY';
  src: url('/fonts/BoosterNextFY.eot');
  src: url('/fonts/BoosterNextFY.ttf') format('truetype'),
       url('/fonts/BoosterNextFY.woff') format('woff');
}

body{
  font-family: 'BoosterFY', Helvetica, sans-serif;
  background: no-repeat center center fixed;
  background:
    url('/images/fcuO.png') no-repeat center center fixed,
    linear-gradient(to bottom, #002d72, #00a19b 150%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 41%, cover;
  background-position: -25% 4%;
  height: 100%;
  overflow: auto;

}

#title{
  text-align: center;
  color: white;
}

.header{
  color: white;
}

#totalHoldr{
  padding-top: 1em;
}

#totalButton{
  margin-bottom: 1em;
  background-color: #0095c8;
}

#forteraLogo{
width: 14.8125em;
height: 5.75em;
}

i{
  color: white;
}
input#total{
  color: white;
}
input{
  color: white;
}